$icomoon-general-font-family: "general-icons" !default;
$icomoon-general-font-path: "../fonts" !default;

$o-icon-general--mute: "\e900";
$o-icon-general--pause: "\e904";
$o-icon-general--play: "\e905";
$o-icon-general--sound: "\e908";
$o-icon-general--stop: "\e909";
$o-icon-general--arrow-left: "\e901";
$o-icon-general--arrow-down: "\e902";
$o-icon-general--arrow-right: "\e903";
$o-icon-general--arrow-left-light: "\e906";
$o-icon-general--arrow-right-light: "\e907";
$o-icon-general--arrow-up: "\e90a";
$o-icon-general--facebook: "\e90b";
$o-icon-general--flipboard: "\e90c";
$o-icon-general--instagram: "\e90d";
$o-icon-general--link: "\e90e";
$o-icon-general--linkedin: "\e90f";
$o-icon-general--mail: "\e910";
$o-icon-general--pinterest: "\e911";
$o-icon-general--rss: "\e912";
$o-icon-general--twitter-1: "\e913";
$o-icon-general--twitter-2: "\e914";

