$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../fonts" !default;

$u-icon-facebook-f: "\e900";
$u-icon-instagram: "\e902";
$u-icon-linkedin-in: "\e901";
$u-icon-twitter: "\e910";
$u-icon-whatsapp: "\e911";
$u-icon-youtube: "\e903";
$u-icon-arrow-bottom: "\e904";
$u-icon-arrow-right: "\e905";
$u-icon-arrows: "\e906";
$u-icon-close: "\e907";
$u-icon-minus: "\e908";
$u-icon-mute-video: "\e909";
$u-icon-pause-video: "\e90a";
$u-icon-phone: "\e90b";
$u-icon-player-video: "\e90c";
$u-icon-plus: "\e90d";
$u-icon-sound-video: "\e90e";
$u-icon-stop-video: "\e90f";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?kx74vz');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?kx74vz#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?kx74vz') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?kx74vz') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?kx74vz##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.u-icon--facebook-f {
  &::before {
    content: $u-icon-facebook-f;
  }
}
.u-icon--instagram {
  &::before {
    content: $u-icon-instagram;
  }
}
.u-icon--linkedin-in {
  &::before {
    content: $u-icon-linkedin-in;
  }
}
.u-icon--twitter {
  &::before {
    content: $u-icon-twitter;
  }
}
.u-icon--whatsapp {
  &::before {
    content: $u-icon-whatsapp;
  }
}
.u-icon--youtube {
  &::before {
    content: $u-icon-youtube;
  }
}
.u-icon--arrow-bottom {
  &::before {
    content: $u-icon-arrow-bottom;
  }
}
.u-icon--arrow-right {
  &::before {
    content: $u-icon-arrow-right;
  }
}
.u-icon--arrows {
  &::before {
    content: $u-icon-arrows;
  }
}
.u-icon--close {
  &::before {
    content: $u-icon-close;
  }
}
.u-icon--minus {
  &::before {
    content: $u-icon-minus;
  }
}
.u-icon--mute-video {
  &::before {
    content: $u-icon-mute-video;
  }
}
.u-icon--pause-video {
  &::before {
    content: $u-icon-pause-video;
  }
}
.u-icon--phone {
  &::before {
    content: $u-icon-phone;
  }
}
.u-icon--player-video {
  &::before {
    content: $u-icon-player-video;
  }
}
.u-icon--plus {
  &::before {
    content: $u-icon-plus;
  }
}
.u-icon--sound-video {
  &::before {
    content: $u-icon-sound-video;
  }
}
.u-icon--stop-video {
  &::before {
    content: $u-icon-stop-video;
  }
}

