// Variable overrides
$font-family-sans-serif: "HelveticaNeue";
$font-family-monospace: "HelveticaNeue";

$sidebar-width: 240px;
$sidebar-bg: #FFFFFF;
$sidebar-nav-color: #333333;
$sidebar-nav-link-color: #333333;
$sidebar-nav-link-hover-color: #333333;
$sidebar-nav-link-hover-bg: #FFFFFF;
$sidebar-nav-dropdown-color: #333333;
$sidebar-nav-dropdown-bg: #FFFFFF;
