$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../fonts" !default;

$o-icon--arrow-slider-bw: "\e904";
$o-icon--arrow-slider-fw: "\e905";
$o-icon--arrow-small-bw: "\e908";
$o-icon--arrow-small-fw: "\e909";
$o-icon--blog: "\e918";
$o-icon--bread: "\e919";
$o-icon--coffee: "\e91a";
$o-icon--coffee-2: "\e91b";
$o-icon--comment: "\e91c";
$o-icon--coupon: "\e91d";
$o-icon--directions: "\e91e";
$o-icon--directions-1: "\e91f";
$o-icon--dog: "\e920";
$o-icon--leaf: "\e930";
$o-icon--leaves: "\e931";
$o-icon--list: "\e936";
$o-icon--map: "\e939";
$o-icon--menu: "\e93a";
$o-icon--menu-1: "\e93b";
$o-icon--navigator: "\e93c";
$o-icon--pdf: "\e93d";
$o-icon--send-1: "\e942";
$o-icon--send-2: "\e943";
$o-icon--toaster: "\e944";
$o-icon--tree: "\e945";

