// styles/components/_components.header.scss

:root {
  --header-bg-color: transparent;
  --header-height: 74px;
  --header-logo-height: 64px;
  --header-padding: #{space-mult(11)};
  @include mq(mobile-wide) {
    --header-padding: var(--padding-default);
  }
}

.c-header {
  position: relative;
  height: var(--header-height);
  background-color: var(--header-bg-color);
  width: 100%;
  padding: 0 var(--header-padding);

  @include e(container) {
    height: 100%;
    margin: var(--space-sm) 0;

    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);

    @include e(logo) {
      height: 100%;
      max-height: var(--header-logo-height);

      img {
        height: 100%;
      }
    }
  }

  @include m(fixed) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--zindex-fixed-element);
  }
}
