// styles/components/_components.hero.scss

:root {
  --hero-height: 85vh;
  --hero-container-width: 100%;

  @include mq(mobile-wide) {
    --hero-height: 100vh;
    --hero-container-max-width: initial;
  }
}

.c-hero {
  width: var(--hero-container-width);
  height: var(--hero-height);

  @include e(container) {
    height: inherit;
    z-index: var(--zindex-header);
    padding-top: calc(var(--space-default) * 38);
    position: relative;

    display: flex;
    justify-content: center;
    flex-direction: row;

    @include e(text) {
      width: 50%;
      height: 55rem;
      position: absolute;
      left: 0;
      padding: 0 10rem;
    }
    @include e(video) {
      width: 50%;
      height: 55rem;
      position: absolute;
      right: 0;
      object-fit: cover;
    }
  }

  @include e(pretitle) {
    font-family: var(--font-family-primary);
    font-size: var(--font-xxs);
    font-weight: 500;
    color: var(--color-gold);
    text-transform: uppercase;
    letter-spacing: 5px;

    @include m(final) {
      font-family: var(--font-family-primary);
      font-size: var(--font-xxs);
      font-weight: 500;
      color: var(--color-gold);
      text-transform: uppercase;
      letter-spacing: 3px;
      transform: rotate(-90deg);
      position: absolute;
      left: 0;
      bottom: 0;
      margin-left: 30px;

      &::before {
        display: block;
        content: '';
        border: 0.3px solid var(--color-gold);
        width: 3rem;
        position: absolute;
        bottom: 7px;
        left: -4rem;
      }
    }
  }
  @include e(title) {
    font-family: var(--font-family-secondary);
    font-size: 7.2rem;
    font-weight: 600;
    margin: 3rem 0;
  }
  @include e(plus) {
    font-size: 8rem;
    font-weight: 600;

    color: var(--color-gold);
  }
  @include e(description) {
    margin-bottom: 4rem;
  }
  @include e(cta) {
    i {
      margin-left: 1.8rem;
      color: var(--color-gold);
      top: 1px;
      position: relative;
    }
  }
}
