// styles/components/_components.hamburger.scss

.c-hamburger {
  width: 18px;
  height: 14px;
  cursor: pointer;
  position: relative;
  z-index: var(--zindex-overlay-above);

  @include flexbox;
  @include flex-direction(column);

  span {
    background-color: currentColor;
    width: 100%;
    height: 2px;
    margin-bottom: 3px;

    @include transition(0.2s, ease-in-out, transform);

    &:last-of-type {
      margin-bottom: 0;
      width: 75%;
    }
  }

  &.open {
    span {
      background-color: var(--color-gray-800);

      &:nth-child(1) {
        @include transform(rotate(45deg) translate(4px, 4px));
        @include transition(0.2s, ease-in-out, transform);
      }

      &:nth-child(2) {
        @include transform(scale(0));
        @include transition(0.2s, ease-in-out, transform);
      }

      &:nth-child(3) {
        width: 100%;
        @include transform(rotate(-45deg) translate(3px, -3px));
        @include transition(0.2s, ease-in-out, transform);
      }
    }
  }
}
