:root {
  --button-font-size: 1.5rem;
  --button-font-weight: var(--font-weight-medium);
  --button-font-family: var(--font-family-Primary);
  --button-border-size: 3px;
  --button-height: 50px;
  --button-border-radius: 0;
}
.o-button {
  @include m(color-transparent) {
    background-color: transparent;
    border: 1px solid var(--color-gray-400);

    &:hover {
      border: 1px solid var(--color-gray-800);
    }
  }
}
