/* =========================
   Hero styles
========================== */

/* Hero */
$mobile-hero-height: 428px;
$tablet-hero-height: 670px;
$hero-height: 562px;

.c-hero {
  background-color: $white;
  position: relative;
  width: 100%;
  max-height: $hero-height;
  margin-top: $header-height;
  padding: 0 var(--padding-default);

  @include calc(height, '100vh - ' +  $header-height);

  /* Media queries */

  @include mq(tablet) {
    margin-top: $tablet-header-height;
    max-height: $tablet-hero-height;
  }
  @include mq(mobile) {
    margin-top: $tablet-header-height;
    max-height: $mobile-hero-height;
  }

  /* Elements */

  @include e(background-image) {
    height: 100%;
    @include position-absolute-full;
  }

  @include e(bg) {
    z-index: 10;

    @include position-absolute-full();
    @include background-size;
  }

  @include e(overlay) {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9;

    @include position-absolute-full();
  }

  @include e(content) {
    z-index: 11;
    position: relative;
    height: 100%;

    @include flexbox;
    @include align-items(flex-start);
    @include justify-content(center);
    @include flex-direction(column);
  }

  @include e(title) {
    margin-bottom: 20px;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    max-width: 325px;

    @include only-ie {
      width: 100%;
    }

    @include font(75px, $font-family-secondary, $white, $font-weight-bold, 107%);

    @include mq(tablet) {
      padding-right: 45px;
      font-size: 44px;
    }

    @include mq(mobile) {
      font-size: 42px;
      line-height: 46px;
      max-width: 245px;
    }
  }

  @include e(copy) {
    margin-bottom: 30px;
    max-width: 525px;

    @include font(16px, $font-family-secondary, $white, $font-weight-regular, 130%);

    @include only-ie {
      width: 100%;
    }

    @include mq(mobile) {
      display: none;
    }
  }

  @include e(cta) {

    @include mq(mobile) {
      display: none;
    }
  }
}
