/* Menu */
$mobile-menu-height: 70px;
$mobile-submenu-height: 55px;
$tablet-menu-height: 100px;
$menu-height: 60px;
$menu-height-item: $menu-height - 25;
$menu-item-size: 11px;
$menu-fixed-height: 97px;

.c-navbar {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 12;
  margin: 0;

  @include transition(0.7s, ease-in-out, height);

  @include flexbox;
  @include align-items(center);
  @include justify-content(flex-start);
  @include flex-direction(row);

  li {
    a {
      color: $white;
      text-transform: uppercase;
      display: inline-block;
      letter-spacing: 0.4px;
      margin-bottom: 0;
      position: relative;
      padding: 30px;

      @include transition;
      @include font(12px, $font-family-third, $white, $font-weight-medium, 125%);

      @include pixel-hover-full {
        color: rgba($white, 0.5);

        @include transition;
      }
    }
  }

  @include mq($mq-show-menu-hamburger) {
    display: none;
  }

  @include e(mobile) {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 0;
    background-color: #fff;
    overflow: hidden;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(row);
    @include transition(0.7s, ease-in-out, height);

    @include m(is-open) {
      height: 100vh;
      @include transition(0.7s, ease-in-out, height);
    }
  }

  @include e(overlay) {
    position: fixed;
    background: rgba(51, 55, 69, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    z-index: 13;

    @include m(open) {
      opacity: 1;
      visibility: visible;
      height: 100%;

      & li {
        animation: fadeInRight 0.5s ease forwards;
        animation-delay: 0.35s;
      }
      $elements: 10;
      @for $i from 1 to $elements {
        & li:nth-of-type(#{$i + 1}) {
          animation-delay: $i * (1s / 20) + 0.35;
        }
      }
    }

    @include e(menu) {
      position: relative;
      height: 100%;
      top: 0;
      text-align: center;
      @include flexbox();
      @include align-items(center);

      @include e(items) {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;

        & li {
          display: block;
          position: relative;
          opacity: 0;
          margin-bottom: 60px;

          @include mq(tablet) {
            margin-bottom: 30px;
          }
          @include mq(mobile) {
            margin-bottom: 20px;
          }
        }

        & li a {
          display: block;
          position: relative;
          text-decoration: none;
          overflow: hidden;
          letter-spacing: 20px;
          text-transform: uppercase;
          @include font(50px, $font-family-primary, $white, $font-weight-regular);

          @include mq(tablet) {
            font-size: 30px;
          }
          @include mq(mobile) {
            font-size: 20px;
          }
        }

        & li a:hover,
        & li a:focus,
        & li a:active {
          color: $color-primary;
        }
        & li a:hover::after,
        & li a:focus::after,
        & li a:active::after {
          width: 100%;
          background: $color-primary;
        }

        & li a::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 43.5%;
          width: 0;
          transform: translateX(-50%);
          height: 3px;
          background: $white;
          transition: 0.35s;
        }
      }
    }
  }
}
