/* ==========================================================================
   #TABLES
   ========================================================================== */

/**
 * 1. Ensure tables fill up as much space as possible.
 */

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
