/* ==========================================================================
   #HEADINGS
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $base-font-size;
  font-family: $font-family-secondary;
  line-height: 120%;
  font-weight: $font-weight-bold;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}
