/* ==========================================================================
   #FORMS
   ========================================================================== */

form {
  margin: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

*:focus {
  outline: none;
}