/* ==========================================================================
   #PARAGRAPHS
   ========================================================================== */

p {
  margin: 0;
  @include font($base-font-size, $font-family-secondary, $color-font-primary, $font-weight-regular, 100%);
}

p:empty {
  display: none;
}
