// --------------------------------

// Grid system

// --------------------------------

:root {
  // Spacing
  --space-default: 4px;
  --padding-default: 16px;
  --gap-default: calc(2 * var(--space-default));
  --space-xxxxs: calc(var(--space-default) / 4);
  --space-xxxs: calc(var(--space-default) / 2);
  --space-xxs: calc(var(--space-default));
  --space-xs: calc(2 * var(--space-default));
  --space-sm: calc(4 * var(--space-default));
  --space-md: calc(6 * var(--space-default));
  --space-lg: calc(12 * var(--space-default));
  --space-xl: calc(24 * var(--space-default));
  --space-xxl: calc(48 * var(--space-default));
}

$grid-columns: 12;

:root {
  --grid-gap: var(--space-lg);
  @include mq(mobile-wide) {
    --grid-gap: var(--space-xs);
  }
}

.u-grid {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: calc(var(--grid-gap, 1em) * -1);
  margin-left: calc(var(--grid-gap, 1em) * -1);

  > * {
    flex-basis: 100%;
    margin-bottom: var(--grid-gap, 1em);
    margin-left: var(--grid-gap, 1em);
  }
}

.grid-gap--0 {
  --grid-gap: 0;
}

.grid-gap--xxxxs {
  --grid-gap: var(--space-xxxxs);
}

.grid-gap--xxxs {
  --grid-gap: var(--space-xxxs);
}

.grid-gap--xxs {
  --grid-gap: var(--space-xxs);
}

.grid-gap--xs {
  --grid-gap: var(--space-xs);
}

.grid-gap--sm {
  --grid-gap: var(--space-sm);
}

.grid-gap--md {
  --grid-gap: var(--space-md);
}

.grid-gap--lg {
  --grid-gap: var(--space-lg);
}

.grid-gap--xl {
  --grid-gap: var(--space-xl);
}

.grid-gap--xxl {
  --grid-gap: var(--space-xxl);
}

@function round-width ($i) {
  //function used to round width to a number with 2 decimal places - used for IE fallback
  $width: floor(100% * $i * 100/ $grid-columns) / 100;
  @return $width;
}

@mixin autoSizedColumn {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col { // auto-sized column
  @include autoSizedColumn;
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    flex-basis: calc(#{round-width($i)} - 0.01px - var(--grid-gap, 1em));
    max-width: calc(#{round-width($i)} - 0.01px - var(--grid-gap, 1em));
  }
}

@include mq(desktop-wide) {
  .col\@desktop-wide { // auto-sized column
    @include autoSizedColumn;
  }

  @for $i from 1 through $grid-columns {
    .col-#{$i}\@desktop-wide {
      flex-basis: calc(#{round-width($i)} - 0.01px - var(--grid-gap, 1em));
      max-width: calc(#{round-width($i)} - 0.01px - var(--grid-gap, 1em));
    }
  }
}

@include mq(desktop) {
  .col\@desktop { // auto-sized column
    @include autoSizedColumn;
  }

  @for $i from 1 through $grid-columns {
    .col-#{$i}\@desktop {
      flex-basis: calc(#{round-width($i)} - 0.01px - var(--grid-gap, 1em));
      max-width: calc(#{round-width($i)} - 0.01px - var(--grid-gap, 1em));
    }
  }
}

@include mq(tablet-wide) {
  .col\@tablet-wide { // auto-sized column
    @include autoSizedColumn;
  }

  @for $i from 1 through $grid-columns {
    .col-#{$i}\@tablet-wide {
      flex-basis: calc(#{round-width($i)} - 0.01px - var(--grid-gap, 1em));
      max-width: calc(#{round-width($i)} - 0.01px - var(--grid-gap, 1em));
    }
  }
}

@include mq(tablet) {
  .col\@tablet { // auto-sized column
    @include autoSizedColumn;
  }

  @for $i from 1 through $grid-columns {
    .col-#{$i}\@tablet {
      flex-basis: calc(#{round-width($i)} - 0.01px - var(--grid-gap, 1em));
      max-width: calc(#{round-width($i)} - 0.01px - var(--grid-gap, 1em));
    }
  }
}

@include mq(mobile-wide) {
  .col\@mobile-wide { // auto-sized column
    @include autoSizedColumn;
  }

  @for $i from 1 through $grid-columns {
    .col-#{$i}\@mobile-wide {
      flex-basis: calc(#{round-width($i)} - 0.01px - var(--grid-gap, 1em));
      max-width: calc(#{round-width($i)} - 0.01px - var(--grid-gap, 1em));
    }
  }
}

@include mq(mobile) {
  .col\@mobile { // auto-sized column
    @include autoSizedColumn;
  }

  @for $i from 1 through $grid-columns {
    .col-#{$i}\@mobile {
      flex-basis: calc(#{round-width($i)} - 0.01px - var(--grid-gap, 1em));
      max-width: calc(#{round-width($i)} - 0.01px - var(--grid-gap, 1em));
    }
  }
}
