// Descriptive Base Colors

// Primary Colors
$white: #FFF;
$black: #000;

//Brand Colors
$cerulean: #00A6E9;
$bright-turquoise: #50E3C2;
$dark-turquoise: #2AB394;
$turbo: #FEEE02;
$cyan-aqua: #06FDFC;
$pink-flamingo: #FF40FF;
$yellow-orange: #FFA949;
$spring-green: #00fa9d;
$aqua: #07fdfc;
$wild-strawberry: #ff34a9;
$lightning-yellow: #ffcc1f;
$cod-gray: #1A1A1A;

$colors: () !default;
$colors: map-merge(
    (
      "base": $white,
      "cerulean": $cerulean,
      "bright-turquoise": $bright-turquoise,
      "dark-turquoise": $dark-turquoise,
      "turbo": $turbo,
      "cyan-aqua": $cyan-aqua,
      "pink-flamingo": $pink-flamingo,
      "yellow-orange": $yellow-orange,
      "spring-green": $spring-green,
      "aqua": $aqua,
      "wild-strawberry": $wild-strawberry,
      "lightning-yellow": $lightning-yellow,
      "cod-gray": $cod-gray
    ),
    $colors
);

@function color($key: "base") {
  @return map-get($colors, $key);
}

// Color usage
$color-primary: color('bright-turquoise') !default;
$color-secondary: color('cod-gray') !default;

$theme-colors: () !default;
$theme-colors: map-merge(
    (
      "primary": $color-primary,
      "primary-lighten-5": #99fdd7,
      "primary-lighten-4": #7ffcce,
      "primary-lighten-3": #66fcc4,
      "primary-lighten-2": #4cfbba,
      "primary-lighten-1": #4cfbba,
      "primary-darken-1": #00e18d,
      "primary-darken-2": #00c87d,
      "primary-darken-3": #00af6d,
      "primary-darken-4": #00965e,
      "secondary": $color-secondary,
      "secondary-lighten-5": #1A1A1A,
      "secondary-lighten-4": #1A1A1A,
      "secondary-lighten-3": #1A1A1A,
      "secondary-lighten-2": #1A1A1A,
      "secondary-lighten-1": #1A1A1A,
      "secondary-darken-1": #1A1A1A,
      "secondary-darken-2": #1A1A1A,
      "secondary-darken-3": #1A1A1A,
      "secondary-darken-4": #1A1A1A,
    ),
    $theme-colors
);

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

// Grayscale
$grayscale-colors: () !default;
$grayscale-colors: map-merge(
    (
      "base": $black,
      "lighten-5": #f0f3f5,
      "lighten-4": #e4e7ea,
      "lighten-3": #c8ced3,
      "lighten-2": #8f9ba6,
      "lighten-1": #73818f,
      "darken-1": #5c6873,
      "darken-2": #2f353a,
      "darken-3": #23282c,
      "darken-4": #23282c,
    ),
    $grayscale-colors
);

@function grayscale-color($key: "base") {
  @return map-get($grayscale-colors, $key);
}

// Additional colors
$color-success: #50E3C2 !default;
$color-error: #DD4952 !default;
$color-warning: #ffc107 !default;
$color-info: #00A6E9 !default;

$additional-colors: () !default;
$additional-colors: map-merge(
    (
      "success": $color-success,
      "error": $color-error,
      "warning": $color-warning,
      "info": $color-info
    ),
    $additional-colors
);

@function additional-color($key: "success") {
  @return map-get($additional-colors, $key);
}

// Brand colors
$facebook: #3b5998 !default;
$twitter: #00aced !default;
$linkedin: #4875b4 !default;
$google-plus: #d34836 !default;
$flickr: #ff0084 !default;
$tumblr: #32506d !default;
$xing: #026466 !default;
$github: #4183c4 !default;
$html5: #e34f26 !default;
$openid: #f78c40 !default;
$stack-overflow: #fe7a15 !default;
$youtube: #b00 !default;
$css3: #0170ba !default;
$dribbble: #ea4c89 !default;
$google-plus: #bb4b39 !default;
$instagram: #517fa4 !default;
$pinterest: #cb2027 !default;
$vk: #45668e !default;
$yahoo: #400191 !default;
$behance: #1769ff !default;
$dropbox: #007ee5 !default;
$reddit: #ff4500 !default;
$spotify: #7ab800 !default;
$vine: #00bf8f !default;
$foursquare: #1073af !default;
$vimeo: #aad450 !default;

$social-colors: () !default;
$social-colors: map-merge(
    (
      "base": $white,
      "facebook": $facebook,
      "twitter": $twitter,
      "linkedin": $linkedin,
      "google-plus": $google-plus,
      "flickr": $flickr,
      "tumblr": $tumblr,
      "xing": $xing,
      "github": $github,
      "html5": $html5,
      "openid": $openid,
      "stack-overflow": $stack-overflow,
      "youtube": $youtube,
      "css3": $css3,
      "dribbble": $dribbble,
      "instagram": $instagram,
      "pinterest": $pinterest,
      "vk": $vk,
      "yahoo": $yahoo,
      "behance": $behance,
      "dropbox": $dropbox,
      "reddit": $reddit,
      "spotify": $spotify,
      "vine": $vine,
      "foursquare": $foursquare,
      "vimeo": $vimeo
    ),
    $social-colors
);

@function social-color($key: "base") {
  @return map-get($social-colors, $key);
}


// Habitant Colors

$primary-colors: () !default;
$primary-colors: map-merge(
    (
      "black": #000000,
      "white": #FFFFFF,
    ),
    $primary-colors
);

@function primary-color($key: "black") {
  @return map-get($primary-colors, $key);
}

$secondary-colors: () !default;
$secondary-colors: map-merge(
    (
      "green-1": #00FF00,
      "green-2": #00FA9D,
      "aqua": #05FBCE,
      "blue-1": #07FDFC,
      "blue-2": #01D3FF,
      "purple-1": #7991FE,
      "purple-2": #B739FC,
      "pink": #FF34A9,
      "ruby": #FF284E,
      "red": #FF4802,
      "orange": #FF8900,
      "yellow-1": #FFCC1F,
      "yellow-2": #FEEE00,
    ),
    $secondary-colors
);

@function secondary-color($key: "primary") {
  @return map-get($secondary-colors, $key);
}

// Grayscale
$grayscale-colors: () !default;
$grayscale-colors: map-merge(
    (
      "grey-1": #F0F0F0,
      "grey-2": #E6E6E6,
      "grey-3": #D1D1D1,
      "grey-4": #BEBEBE,
      "grey-5": #505050,
    ),
    $grayscale-colors
);

@function grayscale-color($key: "base") {
  @return map-get($grayscale-colors, $key);
}
