// Media queries

$breakpoints: (
  "mobile": 400px,
  "mobile-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "tablet-mobile": 1024px,
  "desktop": 1248px,
  "desktop-wide": 1440px
);

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $width) {
      @content;
    }
  }
}

$breakpoints_vertical: (
  "mobile": 500px,
  "laptop": 768px,
);

@mixin mq-h($height, $type: max) {
  @if map_has_key($breakpoints_vertical, $height) {
    $height: map_get($breakpoints_vertical, $height);
    @if $type == max {
      $height: $height - 1px;
    }
    @media only screen and (#{$type}-height: $height) {
      @content;
    }
  } @else {
    @media only screen and (max-height: $height) {
      @content;
    }
  }
}

// =============================
//   Media queries
//==============================

$break-extra-small: 375px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1024px;
$break-extra-large: 1440px;
$break-super-large: 1920px;

/* Media queries */
@mixin mq-habitant($media) {
  @if $media == small-mobile {
    @media only screen and (max-width: $break-extra-small - 0.1) {
      @content;
    }
  } @else if $media == mobile {
    @media only screen and (max-width: $break-small - 0.1) {
      @content;
    }
  } @else if $media == tablet-mobile {
    @media only screen and (max-width: $break-medium - 0.1) {
      @content;
    }
  } @else if $media == max-desktop {
    @media only screen and (max-width: $break-large - 0.1) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: $break-small) {
      @content;
    }
  } @else if $media == tablet-to-desktop {
    @media only screen and (min-width: $break-medium) and (max-width: 1200px) {
      @content;
    }
  } @else if $media == tablet-landscape {
    @media only screen and (min-width: $break-medium) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  } @else if $media == big-desktop {
    @media only screen and (min-width: $break-extra-large) {
      @content;
    }
  } @else if $media == super-desktop {
    @media only screen and (min-width: $break-super-large) {
      @content;
    }
  }
}
