html,
body {
  //background: #f1f1f1;
  background: rgba($color-admin-bg-menu, 0.05);
}

a {
  color: #0074a2;
}

a:hover,
a:active,
a:focus {
  color: #0099d5;
}

#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover {
  color: #0099d5;
}

input[type=checkbox]:checked::before {
  color: $color-admin-secondary;
}

input[type=radio]:checked::before {
  background: $color-admin-secondary;
}

.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active {
  color: #0099d5;
}

.wp-core-ui .button-primary {
  background: $color-admin-secondary;
  border-color: $color-admin-secondary;
  color: white;
  box-shadow: none;
  text-shadow: none;
}

.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus {
  background: #1bcca1;
  border-color: #1bcca1;
  color: white;
  box-shadow: none;
}

.wp-core-ui .button-primary:focus {
  box-shadow: none;
}

.wp-core-ui .button-primary:active {
  background: #139172;
  border-color: #107a61;
  box-shadow: inset 0 2px 0 #107a61;
}

.wp-core-ui .button-primary[disabled],
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary.button-primary-disabled,
.wp-core-ui .button-primary.disabled {
  color: #c7d1cf !important;
  background: #1ee1b2 !important;
  border-color: #1ee1b2 !important;
  text-shadow: none !important;
}

.wp-core-ui .button-primary.button-hero {
  box-shadow: none !important;
}

.wp-core-ui .button-primary.button-hero:active {
  box-shadow: none;
}

.wp-core-ui .wp-ui-primary {
  color: #93a7bc;
  background-color: $color-admin-bg-menu;
}

.wp-core-ui .wp-ui-text-primary {
  color: $color-admin-bg-menu;
}

.wp-core-ui .wp-ui-highlight {
  color: #fff;
  background-color: $color-admin-secondary;
}

.wp-core-ui .wp-ui-text-highlight {
  color: $color-admin-secondary;
}

.wp-core-ui .wp-ui-notification {
  color: #fff;
  background-color: #d24605;
}

.wp-core-ui .wp-ui-text-notification {
  color: #d24605;
}

.wp-core-ui .wp-ui-text-icon {
  color: #93a7bc;
}

.wrap .add-new-h2:hover,
.wrap .page-title-action:hover,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
  color: #93a7bc;
  background-color: $color-admin-bg-menu;
}

.view-switch a.current::before {
  color: $color-admin-bg-menu;
}

.view-switch a:hover::before {
  color: #d24605;
}

#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: $color-admin-bg-menu;
}

#adminmenu a {
  color: #93a7bc;
}

#adminmenu div.wp-menu-image::before {
  color: #93a7bc;
}

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #fff;
  background-color: $color-admin-secondary;
}

#adminmenu li.menu-top:hover div.wp-menu-image::before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image::before {
  color: #fff;
}

.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  background-color: #f1f1f1;
  border-bottom-color: #f1f1f1;
}

#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #202b39;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover::after {
  border-right-color: #202b39;
}

#adminmenu .wp-submenu .wp-submenu-head {
  color: #93a7bc;
}

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: #93a7bc;
}

#adminmenu .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu .wp-submenu a:focus,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu .wp-submenu a:hover,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
  color: #fff;
}

#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: #fff;
}

#adminmenu .wp-submenu li.current a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
#adminmenu .wp-submenu li.current a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
  color: #fff;
}

ul#adminmenu a.wp-has-current-submenu::after,
ul#adminmenu > li.current > a.current::after {
  border-right-color: #f1f1f1;
}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #fff;
  background: $color-admin-secondary;
}

#adminmenu li.wp-has-current-submenu div.wp-menu-image::before,
#adminmenu a.current:hover div.wp-menu-image::before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image::before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image::before,
#adminmenu li:hover div.wp-menu-image::before,
#adminmenu li a:focus div.wp-menu-image::before,
#adminmenu li.opensub div.wp-menu-image::before,
.ie8 #adminmenu li.opensub div.wp-menu-image::before {
  color: #fff;
}

#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #fff;
  background: #d24605;
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #93a7bc;
  background: #202b39;
}

#collapse-menu {
  color: #93a7bc;
}

#collapse-menu:hover {
  color: #93a7bc;
}

#collapse-button div::after {
  color: #93a7bc;
}

#collapse-menu:hover #collapse-button div::after {
  color: #fff;
}

.wp-pointer .wp-pointer-content h3 {
  background-color: $color-admin-secondary;
  border-color: #16a784;
}

.wp-pointer .wp-pointer-content h3::before {
  color: $color-admin-secondary;
}

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
  border-bottom-color: $color-admin-secondary;
}

.media-item .bar,
.media-progress-bar div {
  background-color: $color-admin-secondary;
}

.details.attachment {
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px $color-admin-secondary;
}

.attachment.details .check {
  background-color: $color-admin-secondary;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px $color-admin-secondary;
}

.media-selection .attachment.selection.details .thumbnail {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px $color-admin-secondary;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px $color-admin-secondary;
}

.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover::after,
.theme-browser .theme.add-new-theme a:focus::after {
  background: $color-admin-secondary;
}

.theme-browser .theme.add-new-theme a:hover span::after,
.theme-browser .theme.add-new-theme a:focus span::after {
  color: $color-admin-secondary;
}

.theme-section.current,
.theme-filter.current {
  border-bottom-color: $color-admin-bg-menu;
}

body.more-filters-opened .more-filters {
  color: #93a7bc;
  background-color: $color-admin-bg-menu;
}

body.more-filters-opened .more-filters::before {
  color: #93a7bc;
}

body.more-filters-opened .more-filters:hover,
body.more-filters-opened .more-filters:focus {
  background-color: $color-admin-secondary;
  color: #fff;
}

body.more-filters-opened .more-filters:hover::before,
body.more-filters-opened .more-filters:focus::before {
  color: #fff;
}

.widgets-chooser li.widgets-chooser-selected {
  background-color: $color-admin-secondary;
  color: #fff;
}

.widgets-chooser li.widgets-chooser-selected::before,
.widgets-chooser li.widgets-chooser-selected:focus::before {
  color: #fff;
}

#customize-theme-controls .widget-area-select .selected {
  background-color: $color-admin-secondary;
  color: #fff;
}

div#wp-responsive-toggle a::before {
  color: #93a7bc;
}

.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: $color-admin-secondary;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: #202b39;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon::before {
  color: #93a7bc;
}

.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item.mce-selected,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item-normal.mce-active,
.mce-container.mce-menu .mce-menu-item-preview.mce-active {
  background: $color-admin-secondary;
}
