#wpadminbar {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 782px) {
  .folded:not(.admin-menu-h) #adminmenu,
  .folded:not(.admin-menu-h) #adminmenu li.menu-top,
  .folded:not(.admin-menu-h) #adminmenuback,
  .folded:not(.admin-menu-h) #adminmenuwrap {
    width: 90px;
  }
  .folded:not(.admin-menu-h) #adminmenu .wp-menu-name {
    font-size: 11px;
    font-weight: normal;
    width: 90px;
    padding: 0 0 6px 0;
    display: table-cell;
    vertical-align: middle;
  }
  .folded:not(.admin-menu-h) #adminmenu div.wp-menu-image {
    padding: 12px 0 0 0;
  }
  .folded:not(.admin-menu-h) #adminmenu div.wp-menu-image::before {
    padding: 0;
    font-size: 18px;
  }
  .folded:not(.admin-menu-h) #adminmenu li.menu-top a.menu-top {
    height: 60px;
  }
}

@media (min-width: 782px) and (max-width: 960px) {
  .auto-fold:not(.admin-menu-h) #adminmenu,
  .auto-fold:not(.admin-menu-h) #adminmenu li.menu-top,
  .auto-fold:not(.admin-menu-h) #adminmenuback,
  .auto-fold:not(.admin-menu-h) #adminmenuwrap {
    width: 90px;
  }
  .auto-fold:not(.admin-menu-h) #adminmenu .wp-menu-name {
    font-size: 11px;
    font-weight: normal;
    width: 90px;
    padding: 0 0 6px 0;
    display: table-cell;
    vertical-align: middle;
  }
  .auto-fold:not(.admin-menu-h) #adminmenu div.wp-menu-image {
    padding: 12px 0 0 0;
  }
  .auto-fold:not(.admin-menu-h) #adminmenu div.wp-menu-image::before {
    padding: 0;
    font-size: 18px;
  }
  .auto-fold:not(.admin-menu-h) #adminmenu li.menu-top a.menu-top {
    height: 60px;
  }
}
