#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
  width: 200px;
}

#adminmenu .wp-submenu {
  left: 200px;
}

#adminmenu div.wp-menu-image,
.auto-fold #adminmenu a.menu-top,
.folded #adminmenu a.menu-top {
  height: 36px;
}

.wp-core-ui .button,
.wp-core-ui .button-secondary {
  background: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.05);
  color: #777;
  box-shadow: none;
  text-shadow: none;
}

.wp-core-ui .button:hover,
.wp-core-ui .button-secondary:hover,
.wp-core-ui .button:focus,
.wp-core-ui .button-secondary:focus {
  background: rgba(8, 8, 8, 0.05);
  border-color: rgba(8, 8, 8, 0.05);
  color: #777;
  box-shadow: none;
}

.wp-core-ui .button:focus,
.wp-core-ui .button-secondary:focus {
  box-shadow: none;
}

.wp-core-ui .button:active,
.wp-core-ui .button-secondary:active {
  background: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.05);
}

.wp-core-ui .button[disabled],
.wp-core-ui .button-secondary[disabled],
.wp-core-ui .button:disabled,
.wp-core-ui .button-secondary:disabled,
.wp-core-ui .button.button-primary-disabled,
.wp-core-ui .button-secondary.button-primary-disabled,
.wp-core-ui .button.disabled,
.wp-core-ui .button-secondary.disabled {
  color: #d1c7c7 !important;
  background: rgba(20, 20, 20, 0.05) !important;
  border-color: rgba(20, 20, 20, 0.05) !important;
  text-shadow: none !important;
}

.wp-core-ui .button.button-hero,
.wp-core-ui .button-secondary.button-hero {
  box-shadow: none !important;
}

.wp-core-ui .button.button-hero:active,
.wp-core-ui .button-secondary.button-hero:active {
  box-shadow: none;
}

#wpadminbar {
  height: 50px;
}

#wpadminbar #wp-admin-bar-search .ab-item {
  padding: 9px 0;
}

@media screen and (min-width: 783px) {
  html:not(.wp-toolbar) {
    margin-top: 50px !important;
  }
}

#adminmenuback {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.15);
}

#adminmenu div.wp-menu-name {
  padding: 9px 0;
  font-size: 13px;
  font-weight: 500;
}

div.wp-menu-image::before {
  padding: 8px 0;
}

#wp-admin-bar-site-name > a::before,
#wp-admin-bar-visit-site > a::before {
  display: none;
}

#wp-admin-bar-site-name img,
#wp-admin-bar-visit-site img {
  float: left !important;
  height: 32px !important;
}

#wp-admin-bar-site-name img + span,
#wp-admin-bar-visit-site img + span {
  margin-left: 10px !important;
}

#wp-admin-bar-site-name span,
#wp-admin-bar-visit-site span {
  font-size: 16px;
  font-weight: bold;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-width: 0;
  border-radius: 100%;
  width: 32px;
  height: 32px;
}

#wpadminbar #wp-admin-bar-my-sites > .ab-item::before,
#wpadminbar #wp-admin-bar-site-name > .ab-item::before {
  content: "\f180";
}

#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li {
  margin-left: 16px;
}

#wp-admin-bar-user-info .avatar {
  display: none;
}

.hide-collapse-link #collapse-menu {
  display: none !important;
}

#welcome-panel,
#dashboard-widgets-wrap {
  display: none;
}

#welcome-panel .welcome-panel-content > h2 {
  display: none;
}

@media screen and (max-width: 782px) {
  #wp-admin-bar-site-name img,
  #wp-admin-bar-visit-site img {
    display: none;
  }
}

@media screen and (min-width: 782px) {
  html.wp-toolbar {
    padding-top: 50px;
  }

  #wpadminbar .quicklinks > ul > li > a {
    padding: 9px 10px !important;
  }

  #wpcontent,
  #wpfooter {
    margin-left: 200px;
  }
  .rtl #wpcontent,
  .rtl #wpfooter {
    margin-left: 0;
    margin-right: 200px;
  }

  .rtl #adminmenu .wp-submenu.sub-open,
  .rtl #adminmenu .opensub .wp-submenu,
  .rtl #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
  .rtl #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
  .rtl #adminmenu a.menu-top:focus + .wp-submenu,
  .rtl #adminmenu .wp-has-current-submenu a.menu-top:focus + .wp-submenu,
  .rtl .edit-post-header {
    top: 0;
    left: auto;
    right: 200px;
  }

  .edit-post-header,
  .components-notice-list {
    left: 200px !important;
  }

  .edit-post-header {
    top: 50px;
  }
  body.is-fullscreen-mode .edit-post-header {
    top: 0 !important;
  }

  .edit-post-sidebar {
    top: 106px;
  }
  body.is-fullscreen-mode .edit-post-sidebar {
    top: 56px !important;
  }

  .edit-post-layout .editor-post-publish-panel {
    top: 50px;
  }
}

@media screen and (min-width: 782px) {
  .folded #wpcontent,
  .folded #wpfooter {
    margin-left: 90px !important;
  }
  .folded .edit-post-header,
  .folded .components-notice-list {
    left: 90px !important;
  }
  .folded #adminmenu .wp-submenu.sub-open,
  .folded #adminmenu .opensub .wp-submenu,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
  .folded #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
  .folded #adminmenu a.menu-top:focus + .wp-submenu,
  .folded #adminmenu .wp-has-current-submenu a.menu-top:focus + .wp-submenu {
    top: 0;
    left: 90px;
  }
  .folded #adminmenu .wp-menu-name {
    display: block;
    text-align: center;
    font-size: 11px;
    position: static;
    left: 0;
    margin-top: -2px;
  }
  .folded #adminmenu a.menu-top {
    height: auto;
    border: none;
  }
  .folded #adminmenu div.wp-menu-image {
    position: relative;
    float: none;
    width: auto !important;
    height: auto;
    text-align: center;
    padding: 4px 0;
    font-size: 20px !important;
  }
  .folded #adminmenu .wp-submenu-head {
    display: none;
  }
  .folded .collapse-button-icon {
    left: 50% !important;
    right: auto !important;
    margin-left: -18px;
  }
  .folded #adminmenu > li > a .update-plugins,
  .folded #adminmenu > li > a .awaiting-mod {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .folded .wp-menu-separator {
    display: none;
  }
  .folded.rtl #wpcontent,
  .folded.rtl #wpfooter {
    margin-left: 0 !important;
    margin-right: 90px !important;
  }
  .folded.rtl #adminmenu .wp-submenu.sub-open,
  .folded.rtl #adminmenu .opensub .wp-submenu,
  .folded.rtl #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
  .folded.rtl #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
  .folded.rtl #adminmenu a.menu-top:focus + .wp-submenu,
  .folded.rtl #adminmenu .wp-has-current-submenu a.menu-top:focus + .wp-submenu {
    top: 0;
    left: auto;
    right: 90px;
  }
}

@media (min-width: 782px) and (max-width: 960px) {
  .auto-fold #wpcontent,
  .auto-fold #wpfooter {
    margin-left: 90px !important;
  }
  .auto-fold .edit-post-header,
  .auto-fold .components-notice-list {
    left: 90px !important;
  }
  .auto-fold #adminmenu .wp-submenu.sub-open,
  .auto-fold #adminmenu .opensub .wp-submenu,
  .auto-fold #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
  .auto-fold #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
  .auto-fold #adminmenu a.menu-top:focus + .wp-submenu,
  .auto-fold #adminmenu .wp-has-current-submenu a.menu-top:focus + .wp-submenu {
    top: 0;
    left: 90px;
  }
  .auto-fold #adminmenu .wp-menu-name {
    display: block;
    text-align: center;
    font-size: 11px;
    position: static;
    left: 0;
    margin-top: -2px;
  }
  .auto-fold #adminmenu a.menu-top {
    height: auto;
    border: none;
  }
  .auto-fold #adminmenu div.wp-menu-image {
    position: relative;
    float: none;
    width: auto !important;
    height: auto;
    text-align: center;
    padding: 4px 0;
    font-size: 20px !important;
  }
  .auto-fold #adminmenu .wp-submenu-head {
    display: none;
  }
  .auto-fold .collapse-button-icon {
    left: 50% !important;
    right: auto !important;
    margin-left: -18px;
  }
  .auto-fold #adminmenu > li > a .update-plugins,
  .auto-fold #adminmenu > li > a .awaiting-mod {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .auto-fold .wp-menu-separator {
    display: none;
  }
  .auto-fold.rtl #wpcontent,
  .auto-fold.rtl #wpfooter {
    margin-left: 0 !important;
    margin-right: 90px !important;
  }
  .auto-fold.rtl #adminmenu .wp-submenu.sub-open,
  .auto-fold.rtl #adminmenu .opensub .wp-submenu,
  .auto-fold.rtl #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
  .auto-fold.rtl #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
  .auto-fold.rtl #adminmenu a.menu-top:focus + .wp-submenu,
  .auto-fold.rtl #adminmenu .wp-has-current-submenu a.menu-top:focus + .wp-submenu {
    top: 0;
    left: auto;
    right: 90px;
  }
}

@media screen and (max-width: 782px) {
  #wpadminbar .ab-icon,
  #wpadminbar .ab-item {
    width: 40px !important;
  }

  #wpadminbar li .ab-icon::before,
  #wpadminbar li .ab-item::before {
    margin: 0 !important;
    font-size: 20px !important;
    top: 12px !important;
    height: 20px !important;
    line-height: 20px !important;
    display: block;
    width: 40px !important;
  }

  #wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
    top: 11px;
    left: 8px;
  }
}

.rtl ul#adminmenu a.wp-has-current-submenu::after,
.rtl ul#adminmenu > li.current > a.current::after {
  border-right-color: transparent;
  border-left-color: #f1f1f1;
}

.rtl #adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover::after {
  border-right-color: transparent;
  border-left-color: #202b39;
}
