.u-uikit {

  // COLORS
  @include e(colors) {
    @include e(text-colors) {
      @include flexbox();
      @include flex-wrap(wrap);
    }

    @include e(block) {
      width: 140px;
      margin-bottom: 42px;
      text-align: center;

      @include e(color){
        width: 128px;
        height: 128px;
        @include border-radius(3px);
        border: rgba(0,0,0,0.1);
        margin: 0 auto;
        border: 1px solid #dddddd;
      }

      @include e(title) {
        margin-top: 8px;
        margin-bottom: 8px;
        color: $color-oscuro;
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
        padding: 0 8px;
      }

      @include e(hex) {
        color: $color-oscuro;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        margin: 0;
      }

      @include e(rgb) {
        color: $color-oscuro;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        margin: 0;
      }
    }
  }
}
