// Here you can add other styles
body {
  //background-color: rgb(250, 250, 250);
  background-color: #fff;
}

.app-body .main {
  border-left: 1px solid #c8ced3;
}

.main .container-fluid {
  padding: 0 60px;

  @include mq(tablet) {
    padding: 0 16px;
  }
}

.sidebar-fixed .app-header + .app-body .sidebar {
  height: calc(100vh);
}

.sidebar .nav {
  padding: 45px 24px;
}

.navbar-brand-full {
  max-width: 150px;
}

.nav-item-brand {
  margin-bottom: 50px !important;
}

.nav-link-brand {
  text-align: center;
}

.sidebar .nav-dropdown-toggle::before {
  display: none !important;
}

.sidebar .nav-dropdown-items {
  margin: 0 0 0 24px
}

.sidebar .nav-link {
  padding: 0 0 8px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.card {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #c8ced3;
  background: none;
  background-color: transparent;
}
.card-header {
  border: 0;
  background: none;
  background-color: none;
  font-size: 24px;
  line-height: 34px;
  color: #333;
  padding: 24px 0;

  @include mq(tablet) {
    font-size: 18px;
    line-height: 24px;
  }
}

.card-body{
  padding: 0 0 40px;

  @include mq(tablet) {
    padding: 0 0 20px;
  }
}

code{
  font-size: 12px;
  color: #F63E7C;
}

.app-header {
  display: none;

  @include mq(991px) {
    display: flex;
  }
}
