.u-uikit {

  @include e(fonts) {

    p {
      @include mq(mobile-wide) {
        word-break: break-all;
      }
    }

    .style-font-text {
      font-size: 40px;
      line-height: 40px;

      @include mq(tablet) {
        font-size: 28px;
        line-height: 28px;
      }
    }

    .style-font-type {
      font-size: 12px;
    }

    .style-font-font-type {
      font-size: 12px;
      margin-bottom: 10px;
    }

    .style-font-name {
      font-size: 18px;
    }

    .style-font-name-big {
      font-size: 100px;
      margin-top: 16px;
      margin-bottom: 30px;
      line-height: 1.2;

      @include mq(tablet) {
        font-size: 40px;
      }
    }

    @include e(block-content) {
      margin-bottom: 20px;
    }

    @include e(block) {
      margin-bottom: 20px;
    }
  }
}
