.u-uikit {

  @include e(menu) {
    @include e(title) {
      @include font(14px, $font-family-primary-uikit, $color-claro, $font-weight-regular, 20px);
      color: $color-claro !important;
    }
    @include e(link) {

      @include m(active) {
        font-weight: $font-weight-bold !important;
      }

      &.active {
        font-weight: $font-weight-bold !important;
      }
    }

  }

  @include e(header) {
    padding-top: 96px;
    padding-bottom: 56px;

    @include mq(tablet) {
      padding-top: 40px;
      padding-bottom: 20px
    }

    @include e(pretitle) {
      margin: 0;
      @include font(13px, $font-family-primary-uikit, $color-claro, $font-weight-regular, 13px);
    }

    @include e(title) {
      @include font(40px, $font-family-primary-uikit, $color-oscuro, $font-weight-bold, 48px);
      margin: 0;

      @include mq(tablet) {
        @include font(30px, $font-family-primary-uikit, $color-oscuro, $font-weight-bold, 38px);
      }
    }
  }

  @include e(copy) {
    font-size: 16px;
    line-height: 24px;
    color: $color-oscuro;
    width: 100%;
    max-width: 560px;
    font-weight: $font-weight-light;

    h2 {
      margin-top: 40px;
    }
  }

  @include e(home) {
    max-width: 1300px;

    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);

    @include mq(tablet) {
      padding-top: 40px;
      padding-bottom: 40px;

      @include flex-direction(column);
    }

    @include e(intro) {
      max-width: 540px;
      margin-right: 40px;

      @include mq(tablet) {
        max-width: initial;
        margin-bottom: 40px;
        margin-right: 0;
      }
    }

    @include e(pretitle) {
      letter-spacing: 0.04px;

      @include font(36px, $font-family-primary-uikit, $black-soft, $font-weight-medium);
    }

    @include e(title) {
      letter-spacing: -1px;
      margin-bottom: 30px;
      @include font(88px, $font-family-primary-uikit, $black-soft, $font-weight-medium);

      @include mq(tablet) {
        font-size: 60px;
        margin-bottom: 40px;
      }

      sup {
        font-size: 25%;
        top: -2em;
      }
    }

    @include e(subtitle) {
      letter-spacing: -0.35px;
      @include font(22px, $font-family-primary-uikit, #6C6C6C, $font-weight-light, 34px);
    }

    img {
      max-width: 100%;
    }
  }

  @include e(card) {
    @include e(title) {
      font-size: 24px;
      font-weight: 500;
    }

    @include m(noborder) {
      border: 0 !important;
    }
  }

  @include e(card-body) {
    @include e(title) {
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    @include e(content) {
      @include flexbox();
      @include align-items(flex-start);

      @include mq(tablet) {
        @include flex-direction(column);
      }

      @include m(full) {
        @include flex-direction(column);
      }

      @include m(video) {
        @include flex-direction(column);
      }

      @include m(font) {
        @include flex-direction(column);
      }

    }

    @include e(content-wrapper) {
      max-width: 420px;
      width: 100%;

      @include m(full) {
        max-width: 100%;
        margin-bottom: 30px;

        & .u-uikit__card-body__content-info {
          margin-right: 0;
        }
      }

      @include m(medium) {
        max-width: 300px;
      }

      @include m(table) {
        max-width: 300px;
      }

      @include m(video) {
        max-width: 300px;
      }
    }

    @include e(content-info) {
      @include flexbox();
      @include justify-content(space-between);
      margin-right: 60px;
      margin-bottom: 20px;
    }

    @include e(content-info-code) {
      margin-bottom: 20px;
    }

    @include e(content-text) {
      position: relative;
      width: 100%;

      @include m(font) {
        margin-top: 20px;
      }

      @include m(section) {
        width: 100%;
        margin-bottom: 30px;
      }

      @include m(table) {
        width: 100%;
      }

      @include m(video) {
        width: 100%;
      }

      @include m(form) {
        width: 100%;
        margin-bottom: 30px;
      }

      @include m(input) {
        & > * {
          margin: 0 10px;
        }
      }
    }

    @include e(content-code) {
      position: relative;
      overflow: auto;
      width: 100%;
      max-height: 500px;

      @include m(with-m) {
        margin-top: 30px;
      }
    }

    @include e(content-block) {
      position: relative;
    }

    @include e(content-title) {
      color: #787878;
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      margin-bottom: 0;
    }

    @include e(content-copy) {
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      color: #333;
    }
  }

  @include e(logos) {
    @include flexbox();
    @include flex-wrap(wrap);

    & .logo-block {
      width: 250px;
      margin: 0 10px 10px 0;
      padding: 0 20px;
      @include flexbox();
      @include flex-direction(column);
    }

    & .logo-block-bg {
      width: 250px;
      height: 250px;
      background: #F7F7F7;
      margin: 0 0 10px;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);

      & img,
      & svg {
        max-width: 200px;
      }
    }

    & .logo-block-text {
      font-size: 12px;
      line-height: 16px;
    }
  }

  @include m(simple) {
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
  }

  @include m(bg-dark) {
    background: #282828;
  }

  @include mq(tablet) {
    padding: 15px 0;
  }

  @include m(bg-darker) {
    background-color: #000;

    & th {
      color: $white;
    }
  }

  @include m(bg-grey) {
    background-color: #9C9C9C;
  }

  @include m(bg-grey-paddding) {
    padding: 1rem;
  }

  @include m(height100) {
    height: 100%;
  }

  @include e(intro) {
    padding-top: 96px;

    h1 {
      font-size: 40px;
      line-height: 1.12;
      letter-spacing: 0.4px;
      font-weight: $font-weight-bold;
      margin-bottom: 30px;
    }

    @include e(section) {
      padding: 40px 0;
      border-bottom: 2px solid rgba($black, 0.06);

      .u-grid > * {
        margin-bottom: 30px;
      }
    }

    @include e(title) {
      letter-spacing: 0.2px;
      font-weight: $font-weight-medium;
      color: $black-soft;
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 1.4;
    }

    @include e(pretitle) {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.15px;
      font-weight: $font-weight-medium;
      color: rgba($black-soft, 0.4);
      margin-bottom: 30px;
    }

    @include e(content) {
      letter-spacing: -0.35px;
      font-size: 16px;
      line-height: 24px;
      color: #333;
      width: 100%;
      max-width: 560px;
      font-weight: 300;
    }
  }

  @include e(grid-system){
    width: 100%;
    height: 100px;
    background: #f6fcff;
    @include flexbox();
    @include justify-content(center);

    @include e(container) {
      width: 100%;
      height: 100px;
      @include flexbox();
      @include justify-content(space-around);

      @include m(narrow1){
        padding: 0 70px;
      }

      @include m(narrow2){
        padding: 0 100px;
      }

      @include m(narrow3){
        padding: 0 140px;
      }

      @include m(narrow4){
        padding: 0 180px;
      }
    }

    @include e(block) {
      background: #d3f0ff;
      width: 58px;
      height: 100px;
      margin: 0 7px;

      &:last-child{
        margin-right: 0;
      }

      &:first-child{
        margin-left: 0;
      }
    }
  }

  @include m(min-height) {
    min-height: 150px;
  }
}
