.u-uikit {

  // ICONS
  @include e(icons) {
    @include flexbox();
    @include flex-wrap(wrap);


    & .icon-block {
      width: 100px;
      margin: 0 10px 10px 0;
      @include flexbox();
      @include flex-direction(column);
    }

    & .icon-block-bg {
      width: 100px;
      height: 100px;
      background: #F7F7F7;
      margin: 0 0 10px;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);

      @include m(dark){
        background: #000000;
      }

      & .o-icon {
        margin-right: 0 !important;
      }

      & .o-icon-general {
        margin-right: 0 !important;
      }
    }

    & .icon-block-text {
      font-size: 12px;
      line-height: 16px;
    }
  }
}
