// Form Colors
$color-form-input-border: $white;
$color-form-text: $white;
$color-form-label: $white;
$color-border: #3d3d3d;
$color-selection: $white;

// Form Sizes
$form-wrapper: 100%;
$input-height: 40px;
$input-height-tiny: 30px;
$input-height-big: 50px;
$textarea-height: 100px;

/* Forms */
$input-height: 32px;
$input-height-tiny: 54px;
$message-icon-size: 40px;
$form-width: 380px;
$form-height: 300px;
$form-header-height: 74px;

/* Forms */
$mobile-message-icon-size: 30px;
$mobile-input-height: 50px;

root {
    --size-form-wrapper: 100%;
}

/* Tablet */
@include mq(tablet-wide) {
    :root {
        --size-form-wrapper: 360px;
    }
}

/* Mobile */
@include mq(tablet) {
    :root {
        --size-form-wrapper: 360px;
    }
}

$selector: 'o-form';

.o-form {
    position: relative;
    width: $form-wrapper;

    /* Elements */
    @include e(wrapper) {
        width: 100%;
    }

    @include e(form-group) {
        @include flexbox;
        @include align-items(flex-start);
        @include flex-wrap(nowrap);
        margin-bottom: 1rem;
    }

    @include e(label) {
        @include font(16px, $font-family-secondary, $color-font-primary, $font-weight-medium, 20px);
        @include transition;

        @include m(size-tiny) {
            @include font(12px, $font-family-secondary, $color-font-primary, $font-weight-medium, 14px);
        }

        @include m(size-big) {
            @include font(20px, $font-family-secondary, $color-font-primary, $font-weight-medium, 28px);
        }
    }

    @include e(input-text) {
        @include font(16px, $font-family-secondary, $color-font-primary, $font-weight-medium, 20px);
        @include transition;
        padding: 0.375rem 0.75rem;
        height: $input-height;
        width: 100%;

        @include m(size-tiny) {
            height: $input-height-tiny;
        }

        @include m(size-big) {
            height: $input-height-big;
        }
    }

    @include e(input-select) {
        @include font(16px, $font-family-secondary, $color-font-primary, $font-weight-medium, 20px);
        @include transition;
        padding: 0.375rem 0.75rem;
        height: $input-height;
        width: 100%;

        @include m(size-tiny) {
            height: $input-height-tiny;
        }

        @include m(size-big) {
            height: $input-height-big;
        }
    }

    @include e(input-textarea) {
        @include font(16px, $font-family-secondary, $color-font-primary, $font-weight-medium, 20px);
        @include transition;
        padding: 0.375rem 0.75rem;
        height: $textarea-height;
        width: 100%;
        resize: none;
    }

    @include e(input-field) {
        position: relative;
        margin-bottom: 40px;
        width: 100%;

        @include mq(tablet-wide) {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 25px;
        }

        @include mq(mobile-wide) {
            margin-bottom: 20px;
        }

        @include m(tiny) {
            height: auto;
            margin-bottom: 0 !important;
        }
    }

    @include e(row-group) {
        @include flexbox;
        @include justify-content(space-around);
        @include align-items(flex-start);
        @include flex-wrap(nowrap);

        > * {
            @include mq(mobile-wide) {
                width: 100%;
            }
        }

        > *:first-child {
            max-width: 310px;
            margin-right: 45px;

            @include mq(tablet-wide) {
                max-width: inherit;
                margin-right: 0;
            }

            @include mq(mobile-wide) {
                max-width: inherit;
                margin-right: 0;
                margin-bottom: 30px;
            }
        }

        @include mq(tablet-wide) {
            text-align: left;
            @include justify-content(space-between);
        }

        @include mq(mobile-wide) {
            @include flex-direction(column);
        }
    }

    @include e(row-m) {
        @include flexbox;
        @include flex-wrap(wrap);

        &.vertical {
            padding: 0 15px;
            @include flex-direction(column);

            @include mq(tablet-wide) {
                padding: 0;
            }
        }

        &.help {
            margin-bottom: 40px;
        }

        @include m(checkboxes) {
            margin-top: 10px;
            margin-bottom: 40px;
        }
    }

    @include e(s12) {
        width: 100%;

        &.center {
            @include flexbox;
            @include justify-content(center);
        }
    }

    @include e(s6) {
        padding: 0 50px;
        @include flex-basis(50%);

        @include mq(tablet-wide) {
            padding: 0 30px;
        }

        @include mq(mobile-wide) {
            padding: 0 !important;
            @include flex-basis(100%);
        }

        &:first-of-type {
            padding-left: 0;

            + .s6 {
                padding-right: 0;
            }
        }

        &:last-of-type {
            padding-right: 0;
        }
    }

    /* Modifiers */
    @include m(light) {

        @include se($selector, label) {
            position: absolute;
            margin: 0;
            pointer-events: none;
            top: 10px;
            left: 0;
            @include font(16px, $font-family-primary, $color-font-primary, $font-weight-medium, 20px);
            @include transition;

            &.active {
                font-size: 10px;
                font-weight: $font-weight-regular;
                color: $color-font-secondary,;
                top: -5px;
                left: 0;
                text-transform: uppercase;

                @include transition;

                span {
                    font-size: 12px;
                    font-weight: $font-weight-medium;
                    color: $white;

                    @include transition;
                }
            }

            span {
                @include font(12px, $font-family-secondary, rgba($color-font-primary, 0.5), $font-weight-regular, 22px);
                @include transition;
            }

            @include mq(mobile-wide) {
                left: 0;
            }
        }

        @include se($selector, textarea) {
            border: 0;
            border-bottom: 1px solid $color-form-input-border;
            padding: 5px 5px 0;
            margin: 0 !important;
            -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
            height: $input-height;
            min-height: $input-height;
            width: 100%;
            background: transparent;
            resize: none;
            overflow: hidden;
            -webkit-appearance: none;
            border-radius: 0;
            @include font(15px, $font-family-secondary, $color-font-primary, $font-weight-regular, 22px);
            @include transition;

            &::-ms-clear {
                display: none;
            }

            @include placeholder($white, 1);
        }

        input:not([type]),
        input[type=date]:not(.browser-default),
        input[type=datetime-local]:not(.browser-default),
        input[type=datetime]:not(.browser-default),
        input[type=email]:not(.browser-default),
        input[type=number]:not(.browser-default),
        input[type=password]:not(.browser-default),
        input[type=search]:not(.browser-default),
        input[type=tel]:not(.browser-default),
        input[type=text]:not(.browser-default),
        input[type=time]:not(.browser-default),
        input[type=url]:not(.browser-default) {
            border: 0;
            border-bottom: 1px solid $color-form-input-border;
            padding: 0 5px;
            margin: 0 !important;
            -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
            height: $input-height;
            width: 100%;
            background: transparent;
            -webkit-appearance: none;
            border-radius: 0;

            @include font(15px, $font-family-secondary, $white, $font-weight-regular, 22px);

            &::-ms-clear {
                display: none;
            }

            @include placeholder($white, 1);
        }
    }
}
