// Icons

.o-icon {
  font-size: 24px;
  vertical-align: middle;
  color: theme-color('secondary');

  @include m(pl) {
    margin-right: ($grid-space*3);
  }

  @include m(pr) {
    margin-left: ($grid-space*3);
  }

  @include m(dark) {
    &::before {
      color: theme-color('secondary-darken-1');
    }
  }

  @include m(light) {
    &::before {
      color: theme-color('primary-lighten-1');
    }
  }

  @include m(color-white) {
    &::before {
      color: $white;
    }
  }

  @include m(zero) {
    margin: 0;
  }
}
