// Links

.o-link {
  @include font(14px, $font-family-secondary, $black, $font-weight-medium, 24px);
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover,
  &:focus,
  &:active {
    color: theme-color('primary');
    text-decoration: none;

    @include transition(0.3s, ease-in-out);
  }

  @include m(size-tiny) {
    font-size: 12px;
    line-height: 12px;
  }

  @include m(color-primary) {
    color: $color-primary;
  }

  @include m(color-secondary) {
    color: $color-secondary;
  }

  @include m(color-font-secondary) {
    color: $color-font-secondary;
  }

  @include m(color-font-tertiary) {
    color: $color-font-tertiary;
  }

  @include m(arrow-right) {
    display: block;

    i {
      @include flexbox();
      @include flex-direction(row);
      @include align-items(center);

      &::before {
        content: '';
        width: 0;
        height: 0;
        margin-right: 14px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 12px solid;
      }
    }
  }

  @include m(arrow-right-after) {
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);

    i {
      @include flexbox();
      @include flex-direction(row);
      @include align-items(center);
      &::after {
        display: inline-block;
        content: '';
        width: 0;
        height: 0;
        margin-left: 14px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 12px solid;
      }
    }
  }

  @include m(arrow-left) {
    display: block;

    i {
      @include flexbox();
      @include flex-direction(row);
      @include align-items(center);

      &::before {
        content: '';
        width: 0;
        height: 0;
        margin-right: 14px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 12px solid;
      }
    }
  }

  @include m(arrow-left-after) {
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);

    i {
      @include flexbox();
      @include flex-direction(row);
      @include align-items(center);
      &::after {
        display: inline-block;
        content: '';
        width: 0;
        height: 0;
        margin-left: 14px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 12px solid;
      }
    }
  }

  @include m(arrow-left-before) {
    @include flexbox();
    @include flex-direction(row-reverse);
    @include align-items(center);
    @include justify-content(flex-end);

    i {
      @include flexbox();
      @include flex-direction(row);
      @include align-items(center);
      &::after {
        display: inline-block;
        content: '';
        width: 0;
        height: 0;
        margin-right: 14px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 12px solid;
      }
    }
  }

  @include m(arrow-down) {
    display: block;

    i {
      @include flexbox();
      @include flex-direction(row);
      @include align-items(center);

      &::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 12px solid;
        margin-top: 4px;
      }
    }
  }

  @include m(arrow-down-after) {
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);

    i {
      @include flexbox();
      @include flex-direction(row);
      @include align-items(center);
      &::after {
        display: inline-block;
        content: '';
        width: 0;
        height: 0;
        margin-left: 14px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 12px solid;
      }
    }
  }

  @include m(arrow-top) {
    display: block;

    i {
      @include flexbox();
      @include flex-direction(row);
      @include align-items(center);

      &::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 12px solid;
        margin-top: 4px;
      }
    }
  }

  @include m(arrow-top-after) {
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);

    i {
      @include flexbox();
      @include flex-direction(row);
      @include align-items(center);
      &::after {
        display: inline-block;
        content: '';
        width: 0;
        height: 0;
        margin-left: 14px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 12px solid;
      }
    }
  }
}
