// Images

.o-image {
  position: relative;

  @include m(img-fluid) {
    max-width: 100%;
    height: auto;
  }

  @include m(img-thumbnail) {
    padding: 0.25rem;
    background-color: $white;
    border: 1px solid $color-primary;
  }

  @include m(img-rounded) {
    @include border-radius(50%);
  }

  @include m(dark) {
    @include position-absolute-full();
    @include gradient-directional-deg(180deg, rgba(#000000, 8.4e-05), 0%, rgba(#000000, 0.84), 75.72%);
    background-blend-mode: multiply;
    z-index: 1;
  }

  @include m(darken) {
    @include position-absolute-full();
    @include gradient-directional-deg(180deg, rgba(#000000, 8.4e-05), 22.57%, rgba(#000000, 0.84), 89.28%);
    background-blend-mode: multiply;
    z-index: 1;
  }
}
