// BLOCKQUOTE

.o-blockquote {
  position: relative;

  @include m(with-border) {
    border-left: 2px solid #000;
    padding-left: 20px;
  }

  @include m(with-quotes) {
    font-style: italic;
    z-index: 1;

    & p {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: '\201C';
      font-family: $font-family-primary;
      position: absolute;
      top: 0;
      left: -0.15em;
      color: darken($white, 7%);
      font-size: 4em;
      z-index: 0;
    }
  }

  @include m(with-cite) {
    position: relative;
    max-width: 570px;

    cite {
      font-family: $font-family-secondary;
      font-size: 0.6em;
      font-weight: 700;
      color: $black;
      position: relative;
      padding-left: 25px;

      &::before {
        content: '\201C';
        position: absolute;
        font-family: $font-family-secondary;
        top: 0;
        left: 0;
        font-size: 3em;
        font-style: italic;
        color: $black;
        z-index: 0;
      }
    }
  }
}
