// HEADINGS

:root {
  --o-title-margin-bottom: 48px;
}

@include mq(tablet-wide) {
  :root {
    --o-title-margin-bottom: 48px;
  }
}

@include mq(tablet) {
  :root {
    --o-title-margin-bottom: 48px;
  }
}

.o-title {
  @include font(42px, $font-family-primary, $color-font-primary, $font-weight-bold, 42px);
  letter-spacing: -1px;
  margin-bottom: var(--o-title-margin-bottom);

  @include e(display) {
    @include font(112px, $font-family-secondary, $color-font-primary, $font-weight-medium, 96px);
    letter-spacing: -2px;

    @include m(light) {
      color: $white;
    }
  }

  @include e(tagline) {
    @include font(13px, $font-family-primary, $color-font-primary, $font-weight-medium, 20px);
    text-transform: uppercase;
    letter-spacing: 1.2px;

    @include m(light) {
      color: $white;
    }
  }

  @include e(special-tagline) {
    @include font(28px, $font-family-third, $color-primary, $font-weight-regular, 32px);
    letter-spacing: 0;

    @include m(light) {
      color: $white;
    }
  }

  @include m(size-large) {
    font-size: 62px;
    line-height: 62px;
  }

  @include m(size-medium) {
    font-size: 24px;
    line-height: 32px;
  }

  @include m(size-small) {
    font-size: 18px;
    line-height: 24px;
  }

  @include m(size-tiny) {
    font-size: 12px;
    line-height: 12px;
  }

  @include m(color-primary) {
    color: theme-color('primary');
  }

  @include m(color-secondary) {
    color: theme-color('secondary');
  }

  @include m(color-font-secondary) {
    color: $color-font-secondary;
  }

  @include m(color-font-tertiary) {
    color: $color-font-tertiary;
  }

  @include m(light) {
    color: $white;
  }
}
