/* ==========================================================================
   #ARTICLE
   ========================================================================== */

.o-article {
  position: relative;
  width: 100%;

  h3,
  h4 {
    letter-spacing: -0.29px;

    @include font(em(20), $font-family-secondary, $color-font-primary, $font-weight-bold, em(43, 20));
  }

  p {
    margin-bottom: 25px;
    letter-spacing: -0.19px;

    @include font(em(13), $font-family-primary, $color-font-primary, $font-weight-regular, em(23, 13));
  }

  a {
    color: $white;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      color: $white;
      text-decoration: none;
    }
  }

  table {
    margin: 30px 0;
    border: 1px solid white;

    @include font(em(13), $font-family-primary, $color-font-primary, $font-weight-regular, em(23, 13));

    th {
      padding: 10px 5px;
      background-color: white;
      color: black;
    }

    td {
      border: 1px solid white;
      padding: 10px 5px;
    }
  }

  img {
    display: block;
    height: auto;
    margin: 2rem auto;
    width: 100%;
  }

  iframe,
  object {
    display: block;
    margin: 20px auto;
  }

  ol,
  ul {
    font-size: inherit;
    margin-bottom: 2rem;
    margin-left: 30px;
    line-height: 150%;
    color: inherit;

    @include mq(mobile) {
      margin-bottom: 1.5rem;
    }

    ul,
    ol {
      padding: 0 !important;
      margin-bottom: 0 !important;
    }
  }

  li {
    padding: 8px 0;

    @include font(em(13), $font-family-primary, $color-font-primary, $font-weight-regular, em(23, 13));
  }

  ol {
    counter-reset: item;

    li {
      display: block;

      &::before {
        content: counters(item, ".") " ";
        counter-increment: item;
        color: $color-primary;
        font-weight: $font-weight-bold;
        margin-right: 1rem;
      }
    }
  }

  ul {
    list-style-type: none;

    li {
      &::before {
        content: '';
        margin-right: 0.8em;
        top: -3px;
        position: relative;
        background: $color-primary;
        height: 5px;
        width: 5px;
        display: inline-block;
        border-radius: 50%;
      }
    }
  }

  blockquote {
    border: 0;
    width: 60% !important;
    margin: 60px 0;
  }
}

