// Gallery

@mixin gridFallback($gap: null) {
  display: flex;
  flex-wrap: wrap;

  @if ( $gap == null ) {
    $gap: var(--space-md);
  }

  margin: calc(#{$gap} * -1) 0 0 calc(#{$gap} * -1);

  > * {
    padding: #{$gap} 0 0 #{$gap};
    background-clip: content-box;
  }

  @supports (grid-area: auto) {
    margin: 0;

    > * {
      padding: 0;
      max-width: none !important;
    }
  }
}

@mixin gridAuto($min-width, $gap: null, $fallback: 3) {
  @if ( $gap == null ) {
    $gap: var(--space-md);
  }

  @include gridFallback($gap);

  &::after {
    content: "";
    clear: both;
    display: table;
  }

  > * {
    float: left;
    width: calc(100% / #{$fallback});
  }

  @supports (grid-area: auto) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($min-width, 1fr));
    grid-gap: $gap;

    > * {
      width: auto;
    }
  }
}

$gridMinWidth: 240px;
$gridGap: 30px;

.o-gallery {
  @include gridAuto($gridMinWidth, $gridGap);

  > * {
    display: flex;
    width: 100%;
    margin-bottom: $gridGap;
  }
}
