// Button styles

$button-height: 70px;
$button-height-tiny: 50px;
$button-border: 1px;
$button-line-height: calc(#{$button-height} - (#{$button-border} * 2));
$button-tiny-line-height: calc(#{$button-height-tiny} - (#{$button-border} * 2));
$button-color-primary: $color-secondary;
$button-color-primary-hover: $white;
$button-color-secondary: $white;

%button {
    display: inline-block;
    border: $button-border solid rgba($color-secondary, 0.2);
    cursor: pointer;
    height: $button-height;
    outline: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    letter-spacing: 0.3px;
    min-width: 220px;
    padding: 0 20px;
    @include font(16px, $font-family-secondary, $button-color-primary, $font-weight-medium, $button-line-height);
    @include transition;
    @include border-radius(4px);

    @include pixel-hover-full {
        color: $button-color-primary !important;
    }

    &:disabled {
        @include opacity(0.5);
    }
}

.o-button {
    @extend %button;

    // Size modifiers
    @include m(size-full) {
        max-width: 100%;
        width: 100%;
    }

    @include m(size-tiny) {
        height: $button-height-tiny;
        line-height: $button-tiny-line-height;
    }

    @include m(size-tiny-small) {
        height: $button-height-tiny;
        line-height: $button-tiny-line-height;
        min-width: 130px;
        font-size: 15px;
        letter-spacing: 0.19px;
    }

    @include m(size-small) {
        height: $button-height-tiny;
        line-height: $button-tiny-line-height;
        font-size: 15px;
        letter-spacing: 0.19px;
        min-width: 100px;
        padding: 0 5px;
    }

    // Color modifiers

    @include m(color-primary) {
        background-color: $color-primary;
        color: $button-color-primary-hover;

        @include pixel-hover {
            background-color: darken($color-primary, 10%);
            color: $button-color-primary-hover !important;
        }

        @include pixel-active {
            background-color: lighten($color-primary, 5%);
            color: $button-color-primary-hover !important;
        }
    }

    @include m(color-secondary) {
        background-color: $color-secondary;
        color: $button-color-secondary;

        @include pixel-hover {
            background-color: darken($color-secondary, 10%);
            color: $button-color-primary-hover !important;
        }

        @include pixel-active {
            background-color: lighten($color-secondary, 5%);
            color: $button-color-primary-hover !important;
        }
    }

    @include m(stroke) {
        background-color: transparent;
        border: $button-border solid rgba($white, 0.2);

        @include pixel-hover {
            border: $button-border solid rgba($white, 1);
            color: $button-color-primary !important;
        }

        @include pixel-active {
            border: $button-border solid rgba($white, 0.5);
            color: $button-color-primary !important;
        }
    }

    @include m(stroke-dark) {
        background-color: $black;
        border: $button-border solid rgba($white, 0.2);
        color: $button-color-secondary;

        @include pixel-hover {
            background-color: $white;
            border: $button-border solid rgba($black, 0.2);
            color: $black !important;
        }

        @include pixel-active {
            background-color: $white;
            border: $button-border solid rgba($black, 0.2);
            color: $black !important;
        }
    }
}
