// Table

$table-border-color: rgba($black, 0.1);
$table-striped-color: rgba($black, 0.1);

.o-table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;

  tr {
    border-bottom: 1px solid $table-border-color;
  }

  td,
  th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    font-family: $font-family-secondary;
  }

  @include m(fixed) {
    table-layout: fixed;
  }

  @include m(striped) {
    tr {
      border-bottom: none;
    }

    > tbody {
      > tr:nth-child(odd) {
        background-color: $table-striped-color;
      }

      > tr > td {
        border-radius: 0;
      }
    }
  }

  @include m(highlight) {
    & > tbody > tr {
      transition: background-color 0.25s ease;
      &:hover {
        background-color: $table-striped-color;
      }
    }
  }

  @include m(centered) {
    & {
      thead tr th,
      tbody tr td {
        text-align: center;
      }
    }
  }

  @include mq(tablet-wide) {
    @include m(responsive) {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      display: block;
      position: relative;

      td:empty::before {
        content: '\00a0';
      }

      th,
      td {
        margin: 0;
        vertical-align: top;
      }

      thead {
        border: 0;
        border-right: 1px solid $table-border-color;
        display: block;
        float: left;

        tr {
          display: block;
          padding: 0 10px 0 0;

          th::before {
            content: "\00a0";
          }
        }
      }

      tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;

        tr {
          display: inline-block;
          vertical-align: top;
        }
      }

      th {
        display: block;
        text-align: left;
      }

      td {
        display: block;
        min-height: 1.25em;
        text-align: left;
      }

      tr {
        border-bottom: none;
        padding: 0 10px;
      }
    }
  }
}
