// Font weights

$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: normal;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: bold;
$font-weight-extrabold: 800;
$font-weight-black: 900;

@include fontFace('HelveticaNeue', '#{$url-fonts}hinted-HelveticaNeueThin', normal, $font-weight-thin);
@include fontFace('HelveticaNeue', '#{$url-fonts}hinted-HelveticaNeueLight', normal, $font-weight-light);
@include fontFace('HelveticaNeue', '#{$url-fonts}hinted-HelveticaNeueRegular', normal, $font-weight-thin);
@include fontFace('HelveticaNeue', '#{$url-fonts}hinted-HelveticaNeueMedium', normal, $font-weight-medium);
@include fontFace('HelveticaNeue', '#{$url-fonts}hinted-HelveticaNeueBold', normal, $font-weight-bold);
@include fontFace('HelveticaNeue', '#{$url-fonts}hinted-HelveticaNeueBlackCond', normal, $font-weight-black);

// =============================
//   Font variables
//==============================

$font-family-primary-uikit: "HelveticaNeue";

$base-font-size: 20px;
$base-line: 32px;
$browser-context: 16;
