// Descriptive Base Colors
$color-claro: #A9A9A9;
$color-oscuro: #333;

$gray2: #6C6C6C;

//Brand Colors
$brown: #4D2700;
$beige: #D8983F;
$light: #FFEEC1;
$orange: #FF3D1E;

// Grayscale
$white: #FFF;
$color-bg-gris: #F4F6F7;
$wild-sand: #F6F6F6;
$concrete: #F2F2F2;
$loblolly: #C8CFD5;
$dusty-gray: #979797;
$gray: #7F7F7F;
$mine-shaft: #303030;
$cod-gray: #161616;
$black-soft: #0D152D;
$black: #000;

// Blue
$eastern-blue: #23ABAE;
$cello: #214560;
$gothic: #738DA0;
$pickled-bluewood: #2D3C50;

// Green
$lima: #6ECE1A;

// Red
$burnt-sienna: #e74c3c;

// Yellow
$gold: #FFD700;

// Orange
$carrot: #e67e22;
$blaze-orange: #FF5F00;

// Social brands
$facebook: #3b5998;
$twitter: #5B9EFF;
$pinterest: #cc2127;
$google-plus: #DD4B39;
$reddit: #cee3f8;
$instagram: #3f729b;

// Color usage

$color-primary: $brown;
$color-primary-alt: $orange;

$color-secondary: $beige;
$color-secondary-alt: $light;

$color-success: $lima;
$color-warning: $burnt-sienna;
$color-error: $burnt-sienna;
$color-info: $eastern-blue;

// Color palette modifiers
$palettes: (
  color-primary: (
    100 : #FAF6EB,
    200 : #F5EEDC,
    300 : $color-primary,
    base : $color-primary,
    500 : #CF7212,
    600 : #CD8E36,
    700 : #C58429,
    800 : #C58429,
    900 : #C58429
  ),
  color-secondary: (
    100 : #FAF6EB,
    200 : #F5EEDC,
    300 : $color-secondary,
    base : $color-secondary,
    500 : #CF7212,
    600 : #CD8E36,
    700 : #C58429,
    800 : #C58429,
    900 : #C58429
  ),
  color-success: (
    x-light : lighten($color-success, 16%),
    light : lighten($color-success, 3%),
    base : $color-success,
    dark : darken($color-success, 3%),
    x-dark : darken($color-success, 16%)
  ),
  color-info: (
    x-light : lighten($color-info, 16%),
    light : lighten($color-info, 3%),
    base : $color-info,
    dark : darken($color-info, 3%),
    x-dark : darken($color-info, 16%)
  ),
  color-error: (
    x-light : lighten($color-error, 16%),
    light : lighten($color-error, 8%),
    base : $color-error,
    dark : darken($color-error, 8%),
    x-dark : darken($color-error, 16%)
  ),
  color-gray: (
    xxx-light: lighten($gray, 40%),
    xx-light : lighten($gray, 32%),
    x-light : lighten($gray, 16%),
    light : lighten($gray, 8%),
    base : $gray,
    dark : darken($gray, 8%),
    x-dark : darken($gray, 16%)
  ),
  color-white: (
    xxx-light: lighten($white, 40%),
    xx-light : lighten($white, 32%),
    x-light : lighten($white, 16%),
    light : lighten($white, 8%),
    base : $white,
    dark : darken($white, 8%),
    x-dark : darken($white, 16%)
  )
);

// Call the color palette modifiers
@function palette($palette, $shade: 'base') {
  @return map-get(map-get($palettes, $palette), $shade);
}

$color-background: #FBFAF7;

$color-font-primary: palette(color-primary, 600);
$color-font-secondary: $cod-gray;
$color-font-tertiary: $dusty-gray;

$color-header-bg-top: #F5F4F0;
$color-header-bg-bottom: #FBFAF7;

$color-footer-font: $white;
$color-footer-bg: palette(color-primary, 600);
$color-footer-copy: $white;
$color-footer-border: $color-primary;

$color-form-input-border: rgba($color-primary, 0.06);
//$color-form-input-bg: palette(color-secondary, 100);
$color-form-input-bg:#FBFAF7;
$color-form-text: $gothic;
$color-form-label: $cello;

$table-border-color: $loblolly;
$table-striped-color: $concrete;

$color-progress-video: $color-secondary;

$color-bg-admin: $eastern-blue;
$color-bg-form: $gray;
$color-bg-button: $color-primary;
$color-text-button: palette(color-secondary, 100);
$color-bg-input: palette(color-secondary, 100);
$color-admin-secondary: palette(color-secondary, 200);
$color-admin-bg-menu: $color-secondary;
$color-adminbar: palette(color-secondary, 200);
$color-admin-bg: palette(color-secondary, 100);
$color-admin-bg-submenu: palette(color-secondary, 000);
$color-admin-menu-link: palette(color-secondary, 100);
